.room{
    display: inline-block;
    background-color: brown;
    width: 20%;
    padding:  50px ;
    margin: 0px 40px;
    border: 5px solid black;
    border-radius: 10px;
}

.room1{
    
    background-color: purple;
    width: 45%;
    padding: 70px;
    height: 20px;
    
    border: 5px solid black;
    border-radius: 20px;
}

.box{
    display: inline-block;
    background-color: brown;
    width: 20%;
    padding:  50px ;
    margin: 0px 40px;
    border: 5px solid black;
    border-radius: 10px;

}
.box1{
    background-color: purple;
    width: 45%;
    padding: 70px;
    height: 20px;
    border: 5px solid black;
    border-radius: 10px;

}